* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-app-region: drag;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: green;
  user-select: none;
}

#close {
  padding: 5px;
  font-size: .8em;
  color: grey;
  -webkit-app-region: no-drag;
}

#close:hover {
  color: red;
}

#content {
  display: none;
}

#spawn {
  width: 80px;
}