* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-app-region: drag;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: green;
  user-select: none;
  flex-direction: column-reverse;
}

.back, 
#close,
#config,
.save-timer,
#config-div {
  padding: 5px;
  font-size: 1em;
  color: red;
  -webkit-app-region: no-drag;
}

#close:hover,
#config:hover,
.back:hover {
  color: grey;
}

#timer1, 
#timer2, 
#timer3, 
#timer4, 
.save-timer {
  display: none;
}

#btn1, 
#btn2, 
#btn3, 
#btn4 {
  width: 80px;
  height: 20px;
  margin-bottom: 5px;
  -webkit-app-region: no-drag;
}

#botoes-pos {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

#reset-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.display {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column-reverse;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#close-div {
  display: flex;
  justify-content: flex-start;
}

#div-timer-1,
#div-timer-2, 
#div-timer-3, 
#div-timer-4 {
  display: none;
}

#config-div {
  
}